<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/main.css" type="text/css">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-45016541-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-45016541-1');
  </script>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
  <div class="site">
    <div class="header">
      <h1 class="title">{{ site.name }}</h1>
    </div>
{{ content }}
    <div class="footer">
      <iframe src="https://open.spotify.com/embed/playlist/5B8plyBfddJH6fdx2WybBJ?theme=0" width="520" height="600" frameBorder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      <br/><br/>
      <a class="twitter-timeline" data-width="520" data-height="600" data-theme="light" href="https://twitter.com/resetbrian?ref_src=twsrc%5Etfw">Tweets by resetbrian</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>
</body>
</html>
